/*
 * conf/test.config
 *
 * Minimal smoke-test config. Run with:
 *     nextflow run main.nf -profile test,docker
 */

params {
    input             = "${projectDir}/assets/samplesheet_example.csv"
    outdir            = "test_results"

    reference         = "${projectDir}/assets/test/chr13_chunk.fa"
    bed               = "${projectDir}/assets/test/test_panel.bed"
    pindel_bed        = "${projectDir}/assets/test/test_panel.bed"
    adapters          = "${projectDir}/assets/test/illumina_adapters.fa"

    snv_blacklist     = "${projectDir}/assets/test/blacklist_snvs_hg38.tsv"

    max_memory        = '8.GB'
    max_cpus          = 2
    max_time          = '2.h'

    skip_from         = 0
    flt3_container    = 'docker'
}
